# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 2
    groups:
      npm-dependencies:
        update-types:
          - patch
          - minor

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-dependencies:
        applies-to: version-updates
        update-types:
          - patch
          - minor
          - major
