/*---------------------------------------------------------------------------------------------
 * Copyright (c) Bentley Systems, Incorporated. All rights reserved.
 * See LICENSE.md in the project root for license terms and full copyright notice.
 *--------------------------------------------------------------------------------------------*/
.app {
	margin: -1rem;
	height: 100vh;

	display: grid;
	grid-template: auto / 40px auto 1fr;
}

.platformBar {
	background-color: var(--kiwi-color-bg-surface-secondary);
	border-right: 1px solid #363b3f;

	writing-mode: vertical-lr;
}

.content {
	padding-block: 8px;
	padding-inline-end: 8px;
}

.contentSkeleton {
	height: 100%;
	border-radius: 16px;
	box-shadow:
		0px 0px 0px 1px #000000cc,
		0px 1px 2px 0px #00000099,
		0px 1px 0px 0px #00000066,
		0px 0px 0px 1px #ffffff33 inset,
		0px 1px 0px 0px #ffffff33 inset;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		position: relative;
		height: 200%;
		width: 200%;
		top: -50%;
		left: -50%;
		transform: rotate(-45deg);

		background: radial-gradient(ellipse, var(--kiwi-color-text-mono-faded) 30%, transparent 35%);
		background-size: 30px 14px;
	}
}
