---
// See https://starlight.astro.build/reference/overrides/#pagetitle

const { entry } = Astro.locals.starlightRoute;

const demoBase = "https://itwin.github.io/design-system/";
---

<hgroup>
	<h1 id="_top">{entry.data.title}</h1>
	{entry.data.description && <p>{entry.data.description}</p>}
</hgroup>

{entry.data.demoSlug && <a href={demoBase + entry.data.demoSlug}>View demo page</a>}

<style>
	@layer overrides {
		h1 {
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
		}

		h1 + p {
			margin-top: 0.5rem;
		}

		a {
			color: var(--sl-color-text-accent);
		}
	}
</style>
