._page_1hijn_5{display:flex;flex-wrap:wrap;gap:16px;min-block-size:100dvb}._main_1hijn_12{padding:1rem;flex:999;min-inline-size:50%}._sidebar_1hijn_18{flex-grow:1}._pushRight_1hijn_22{margin-inline-start:auto}
