---
import { getCollection } from "astro:content";
import ExamplePreview from "../../components/ExamplePreview.tsx";

export async function getStaticPaths() {
	const examples = await getCollection("examples");
	return examples.map((example) => ({
		params: { example: example.id },
		props: { example },
	}));
}

const { example } = Astro.props;

const { packageName } = example.data;
const exampleName = example.id.split(`${packageName}/`).at(-1)!;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="dark light" />
		<title>{example.data.displayName} – StrataKit examples</title>

		<script is:inline>
			const params = new URLSearchParams(location.search);
			if (params.has("preview")) document.documentElement.dataset.centered = "true";
		</script>
	</head>
	<body>
		<ExamplePreview
			exampleName={exampleName}
			packageName={example.data.packageName}
			client:only="react"
		/>
	</body>
</html>

<style>
	html {
		scrollbar-gutter: stable;
	}
	body {
		padding: 16px;
	}
	html[data-centered="true"] body {
		min-block-size: 100dvb;
		display: grid;
		place-content: center;
	}
	:global(.flex) {
		display: flex;
		gap: 8px;
	}
	:global(.stack) {
		display: grid;
		gap: 8px;
	}
</style>
