---
// See https://starlight.astro.build/reference/overrides/#lastupdated

const { lang, lastUpdated, entry, editUrl } = Astro.locals.starlightRoute;

const baseUrl = editUrl?.href.split("/edit/").at(0) ?? ""; // See astro.config.mjs for editUrl
const commitHistoryUrl = baseUrl + "/commits/main/apps/website" + entry.filePath;
---

{
	lastUpdated && (
		<p>
			{Astro.locals.t("page.lastUpdated")}{" "}
			<a href={commitHistoryUrl}>
				<time datetime={lastUpdated.toISOString()}>
					{lastUpdated.toLocaleDateString(lang, { dateStyle: "medium", timeZone: "UTC" })}
				</time>
			</a>
		</p>
	)
}
