name: CD

on:
  push:
    branches:
      - main

env:
  NPM_CONFIG_PROVENANCE: true

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    if: github.repository == 'iTwin/design-system'
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        # with:
        #   token: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "pnpm"

      - run: pnpm install

      - name: Create release PR or publish to npm
        uses: changesets/action@06245a4e0a36c064a573d4150030f5ec548e4fcc # v1.4.10
        with:
          version: pnpm changeset version && pnpm format --write
          publish: pnpm run build && pnpm changeset publish
          title: Release packages
          commit: Release packages
        env:
          # GITHUB_TOKEN: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
