name: CD

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    if: github.repository == 'iTwin/stratakit'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        # with:
        #   token: ${{ secrets.IMJS_ADMIN_GH_TOKEN }}

      - uses: pnpm/action-setup@v4
        with:
          version: 10.17.0

      - name: Use Node 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "pnpm"

      - run: pnpm install

      - name: Create release PR or publish to npm
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        with:
          version: pnpm run changeset:version
          publish: pnpm run changeset:publish
          title: Release packages
          commit: Release packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
