name: PR

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - dependabot/**

jobs:
  assign-author:
    name: Assign PR author
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'opened'

    steps:
      - name: Auto-assign author using github-script
        uses: actions/github-script@v7
        with:
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            const prNumber = context.payload.pull_request.number;
            const prAuthor = context.actor;

            try {
              const permissionInfo = await github.rest.repos.getCollaboratorPermissionLevel({
                owner: owner,
                repo: repo,
                username: prAuthor,
              });

              if (permissionInfo.data.permission === "admin" || permissionInfo.data.permission === "write") {
                github.rest.issues.addAssignees({
                  owner: owner,
                  repo: repo,
                  issue_number: prNumber,
                  assignees: [prAuthor]
                });
              } else {
                console.log("Author does not have write access to the repository.");
              }
            } catch (error) {
              console.log("Failed checking permissions or assigning author");
              console.error(error);
            }

  # assign-milestones:
  #   name: Assign PR milestones
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize')

  #   steps:
  #     - name: Auto-assign milestones using github-script
  #       uses: actions/github-script@v7
  #       with:
  #         script: |
  #           const owner = context.repo.owner;
  #           const repo = context.repo.repo;
  #           const pr = context.payload.pull_request;

  #           const prNumber = pr.number;
  #           const prAuthor = context.actor;
  #           const prBody = pr.body || "";

  #           try {

  #             let targetMilestone = null;

  #             // if issue is linked in PR description, find if already defined under a milestone
  #             const issueMatch = prBody.match(/\b(Closes|Fixes|Resolves)\s+#(\d+)\b/i);

  #             if (issueMatch) {
  #               // if linked issue was found

  #               const issueNum = parseInt(issueMatch[2]);
  #               const { data: issue } = await github.rest.issues.get({
  #                 owner: owner,
  #                 repo: repo,
  #                 issue_number: issueNum
  #               });

  #               if (issue.milestone) {
  #                 targetMilestone = issue.milestone.title;
  #               }
  #             } else {
  #               // otherwise, look at files changed

  #               const files = await github.paginate(
  #                 github.rest.pulls.listFiles,
  #                 {
  #                   owner: owner,
  #                   repo: repo,
  #                   pull_number: prNumber
  #                 }
  #               );

  #               for (const file of files) {
  #                 const fileName = file.filename;

  #                 if (fileName.startsWith('packages/compat')) {
  #                   targetMilestone = 'API bridge';
  #                   break;
  #                 }
  #               }
  #             }

  #             // if synchronizing, update milestone appropriately (only if new milestone is different)
  #             const oldMilestone = pr.milestone ? pr.milestone.title : null;

  #             if (oldMilestone !== targetMilestone) {
  #               // find milestone to apply
  #               const milestones = await github.rest.issues.listMilestones({
  #                 owner: owner,
  #                 repo: repo,
  #                 state: 'open'
  #               });
  #               const milestone = milestones.data.find(m => m.title === targetMilestone);

  #               // apply milestone to the PR
  #               await github.rest.issues.update({
  #                 owner: owner,
  #                 repo: repo,
  #                 issue_number: prNumber,
  #                 milestone: milestone ? milestone.number : null
  #               });
  #             }
  #           } catch (error) {
  #             console.log("Failed assigning milestones");
  #             console.error(error);
  #           }

  # assign-labels:
  #   name: Assign PR labels
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize')

  #   steps:
  #     - name: Auto-assign labels using github-script
  #       uses: actions/github-script@v7
  #       with:
  #         script: |
  #           const owner = context.repo.owner;
  #           const repo = context.repo.repo;
  #           const pr = context.payload.pull_request;

  #           const prNumber = pr.number;
  #           const prAuthor = context.actor;
  #           const headBranch = pr.head.ref;

  #           const labelsToAdd = new Set();

  #           // helper function to add label
  #           function addLabel(label, labelNames) {

  #             // get component label
  #             const componentLabel = `component: ${label}`;
  #             if (labelNames.has(componentLabel)) {
  #               labelsToAdd.add(componentLabel);
  #             }
  #           }

  #           try {
  #             // add labels based on paths of files changed

  #             // get existing labels
  #             const labels = await github.paginate(
  #               github.rest.issues.listLabelsForRepo,
  #               {
  #                 owner: owner,
  #                 repo: repo,
  #                 per_page: 100
  #               }
  #             );
  #             const labelNames = new Set(labels.map(label => label.name));

  #             // get files changed
  #             const files = await github.paginate(
  #               github.rest.pulls.listFiles,
  #               {
  #                 owner: owner,
  #                 repo: repo,
  #                 pull_number: prNumber
  #               }
  #             );

  #             // determine labels based on files changed
  #             for (const file of files) {
  #               const fileName = file.filename;

  #               if (fileName.startsWith('packages/')) {

  #                 const relativePath = fileName.slice('packages/'.length);

  #                 if (relativePath.startsWith('bricks/src') || relativePath.startsWith('compat/src')) {

  #                   // add API bridge label if under compat
  #                   if (relativePath.startsWith('compat/')) {
  #                     labelsToAdd.add('API bridge');
  #                   }

  #                   // isolate name of file changed
  #                   const changedFile = fileName.split('/').pop().split('.')[0];

  #                   addLabel(changedFile, labelNames);
  #                 }
  #               }

  #               if (fileName.startsWith('apps/test-app/app/')) {

  #                 const relativePath = fileName.slice('apps/test-app/app/'.length);

  #                 if (relativePath.startsWith('tests/') || relativePath.startsWith('compat/tests/')) {

  #                   // add API bridge label if under compat
  #                   if (relativePath.startsWith('compat/')) {
  #                     labelsToAdd.add('API bridge');
  #                   }

  #                   // isolate component changed
  #                   const componentTest = relativePath.startsWith('compat/') ? fileName.split('/')[5] : fileName.split('/')[4];

  #                   // convert to camel case
  #                   const componentName = componentTest
  #                     .split('-')
  #                     .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())
  #                     .join('');

  #                   addLabel(componentName, labelNames);
  #                 }
  #               }

  #               if (fileName.startsWith('.github')) {
  #                 labelsToAdd.add('github_actions');
  #               }
  #             }

  #             // if synchronizing, remove any outdated labels
  #             const currentLabels = await github.rest.issues.listLabelsOnIssue({
  #               owner: owner,
  #               repo: repo,
  #               issue_number: prNumber
  #             });
  #             const currentLabelNames = new Set(currentLabels.data.map(label => label.name));

  #             const finalLabelsAdd = [...labelsToAdd].filter(label => !currentLabelNames.has(label));
  #             const finalLabelsRemove = [...currentLabelNames].filter(label => !labelsToAdd.has(label));

  #             // remove irrelevant labels from the PR
  #             for (const label of finalLabelsRemove) {
  #               await github.rest.issues.removeLabel({
  #                 owner: owner,
  #                 repo: repo,
  #                 issue_number: prNumber,
  #                 name: label
  #               });
  #             }

  #             // add relevant labels to the PR
  #             if (finalLabelsAdd.length > 0) {
  #               await github.rest.issues.addLabels({
  #                 owner: owner,
  #                 repo: repo,
  #                 issue_number: prNumber,
  #                 labels: finalLabelsAdd
  #               });
  #             }
  #           } catch (error) {
  #             console.log("Failed assigning labels");
  #             console.error(error);
  #           }

  fix-formatting:
    name: Fix formatting
    runs-on: ubuntu-latest
    if: contains(github.ref_name, 'dependabot/')

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref_name }}

      - uses: pnpm/action-setup@v4
        with:
          version: 9.15.4

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "pnpm"

      - run: pnpm install

      - name: Format code
        run: pnpm prettier --write && pnpm format --write

      - name: Commit changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git commit -am "format code" || echo "No changes to commit"
          git push
