name: Publish to npm

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Which package to publish?"
        required: true
        type: choice
        default: kiwi-react
        options:
          - kiwi-react
          - kiwi-icons
      tag:
        description: "Which npm tag to publish to?"
        required: true
        type: choice
        default: alpha
        options:
          - alpha

  workflow_call:
    inputs:
      package:
        required: true
        type: string
        default: kiwi-react
      tag:
        required: true
        type: string
        default: alpha
    secrets:
      NPMJS_PUBLISH_ITWIN:
        required: true

jobs:
  publish:
    name: Build and publish output to npm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "pnpm"

      - run: pnpm install

      - run: pnpm --filter="./packages/**" run build

      - run: npm publish --access public --tag ${{ inputs.tag }}
        working-directory: "./packages/${{ inputs.package }}/"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_ITWIN }}
